@use "@styles/global";
@use "@styles/variables";
@use "@styles/mixins";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: variables.$padding;
  border-bottom: variables.$border;
  position: sticky;
  top: 0;
  background-color: variables.$color-background;
  box-shadow: 0px -1px 7px variables.$color-border;
  height: variables.$mobile-header-height;
  max-height: variables.$mobile-header-height;
  box-sizing: border-box;
  @extend .layer-top;

  @include mixins.tablet-up {
    height: variables.$header-height;
    max-height: variables.$header-height;
  }

  @include mixins.desktop-up {
    justify-content: center;
  }
}

.logo {
  height: 50px;
  max-height: 50px;
  width: auto;
  @include mixins.tablet-up {
    height: 70px;
    max-height: 70px;
  }
}
.logoLink {
  display: none;
  @include mixins.desktop-up {
    display: block;
  }
}

.mobileLogoLink {
  @include mixins.desktop-up {
    display: none;
  }
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: variables.$padding;

  @include mixins.desktop-up {
    position: absolute;
    right: 0;
    padding-right: variables.$padding;
  }
}
