@use "@styles/global";
@use "@styles/variables";
@use "@styles/mixins";

$logo-height: 70px;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: variables.$padding;
  border-bottom: variables.$border;
  position: sticky;
  top: 0;
  background-color: variables.$color-background;
  box-shadow: 0px -1px 7px variables.$color-border;

  @extend .layer-top;

  @include mixins.desktop-up {
    justify-content: center;
  }
}

.logo {
  height: $logo-height;
  width: auto;
}
.logoLink {
  display: none;
  @include mixins.desktop-up {
    display: block;
  }
}

.mobileLogoLink {
  @include mixins.desktop-up {
    display: none;
  }
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mixins.desktop-up {
    position: absolute;
    right: 0;
    padding-right: variables.$padding;
  }
}
