@use "@styles/global";
@use "@styles/variables";
@use "@styles/mixins";

.searchBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:first-child) {
    margin-top: variables.$padding-mobile;
  }

  @include mixins.tablet-up {
    &:not(:first-child) {
      margin-top: variables.$padding;
    }
  }
}

.searchInput {
  height: 100%;
  width: 60%;
  padding: 0.5rem 1rem;
  border-radius: 1rem 0px 0px 1rem;
  box-sizing: border-box;
  border: variables.$border-emphasis;
  font-size: 0.75rem;
  border-right: none;
  cursor: pointer;

  @include mixins.tablet-up {
    width: 70%;
    font-size: 1.25rem;
  }
}

.searchTypeSelector {
  width: 40%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0px 1rem 1rem 0px;
  box-sizing: border-box;
  border: variables.$border-emphasis;
  font-size: 0.6rem;
  cursor: pointer;
  @include mixins.tablet-up {
    width: 30%;
    font-size: 1rem;
  }
}

.filterPill {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.5rem;

  border-radius: 2rem;
  padding: variables.$padding-mobile;
  background-color: variables.$color-background;
  border: variables.$border;
  @include mixins.tablet-up {
    font-size: 0.75rem;
    padding: variables.$padding;
  }
}

.statusSelector {
  border-radius: 2px;
  height: 1rem;
  box-sizing: border-box;
  border: variables.$border-emphasis;
  font-size: 0.6rem;
  cursor: pointer;
}
