@use "@styles/global";
@use "@styles/variables";
@use "@styles/mixins";

.searchResult {
  background-color: variables.$color-background;
  border: variables.$border;
  padding: variables.$padding;
  margin: 0.5rem;
  box-sizing: border-box;
  border-radius: 1rem;
  width: fit-content;
  display: inline-block;
  word-wrap: break-word;
  max-width: 85vw;

  @extend .interactable;

  @include mixins.tablet-up {
    max-width: none;
  }
}
