@use "@styles/variables";
@use "@styles/mixins";

.pageContainer {
  height: calc(100vh - variables.$mobile-footer-height - variables.$mobile-header-height);
  max-height: calc(100vh - variables.$mobile-footer-height - variables.$mobile-header-height);
  width: 100%;
  box-sizing: border-box;
  background-color: variables.$color-background;
  padding: variables.$padding;
  overflow-y: scroll;

  @include mixins.tablet-up {
    height: calc(100vh - variables.$footer-height - variables.$header-height);
    max-height: calc(100vh - variables.$footer-height - variables.$header-height);
  }
}

.stickyContent {
  position: sticky;
  top: 0;
}
